In [2]:

# Creating a Tuple named tup1
tup1=(1, True, 3.14, 3-4j, "Manish")
tup1

(1, True, 3.14, (3-4j), 'Manish')

In [3]:
type(tup1)

tuple

In [8]:
# Extracting Individual Elements in Tuples
tup1=(1, "a", True, 2, "b", False)
tup1

(1, 'a', True, 2, 'b', False)

In [10]:
print(tup1[0])
print(tup1[1])
print(tup1[2])
print(tup1[3])
print(tup1[4])
print(tup1[5])

1
a
True
2
b
False

In [14]:
print(tup1[-1])
print(tup1[-2])
print(tup1[-3])
print(tup1[-4])
print(tup1[-5])
print(tup1[-6])

False
b
2
True
a
1

In [19]:
print(tup1[0:6])
print(tup1[1:6])
print(tup1[2:6])
print(tup1[3:6])
print(tup1[4:6])
print(tup1[5:6])
print(tup1[6:6])

(1, 'a', True, 2, 'b', False)
('a', True, 2, 'b', False)
(True, 2, 'b', False)
(2, 'b', False)
('b', False)
(False,)
()

In [33]:
print(tup1[-6:])
print(tup1[-6:0])
print(tup1[-5:-1])
print(tup1[-4:-2])
print(tup1[-3:-3])

(1, 'a', True, 2, 'b', False)
()
('a', True, 2, 'b')
(True, 2)
()

In [34]:
tup1[1]="Manish"
tup1[1]
# As tuple is immutable, it's value cannot be changed.

TypeError: 'tuple' object does not support item assignment

In [35]:
# Tuple Basic Operations 
# Finding Length of Tuple
len(tup1)

6

In [38]:
# Tuple Basic Operations 
# Concatenating Two Tuples
tup2=("Acer", 23-14j, 12, 23.45, True)
tup3=tup1+tup2
tup3

(1, 'a', True, 2, 'b', False, 'Acer', (23-14j), 12, 23.45, True)

In [39]:
# Tuple Basic Operations 
# Repeating Tuple Elements
tup3=(12, True, 14.25)
tup3*2

(12, True, 14.25, 12, True, 14.25)

In [40]:
# Tuple Basic Operations 
# Repeating and Concatenation of Tuple
tup2+tup3*2

('Acer', (23-14j), 12, 23.45, True, 12, True, 14.25, 12, True, 14.25)

In [42]:
# Tuple Function 
# Maximum Elements in Tuple
tup1=(12, 13, 14, 15, 15, 17, 19, 21, 25)
max(tup1)

25

In [43]:
# Tuple Function
# Minimum Elements in Tuple
tup2=(12, 14, 21, 91, 42, 21, 13, 61, 49)
min(tup2)

12