In [1]:
# Creating a List named List1
List1=[1, "Manish", 3.14, True, 3-4j]
List1

[1, 'Manish', 3.14, True, (3-4j)]

In [2]:
type(List1)

list

In [4]:
# Extracting Individual Elements
print(List1[0])
print(List1[1])
print(List1[2])
print(List1[3])
print(List1[4])

1
Manish
3.14
True
(3-4j)

In [5]:
# Extracting Individual Elements 
print(List1[-1])
print(List1[-2])
print(List1[-3])
print(List1[-4])

(3-4j)
True
3.14
Manish
(3-4j)

In [10]:
# Extracting Individual Elements 
print(List1[0:4])
print(List1[1:3])
print(List1[2:2])

[1, 'Manish', 3.14, True]
['Manish', 3.14]
[]
[1, 'Manish', 3.14, True]

In [19]:
# Extracting Individual Elements 
print(List1[-5:-1]) 
print(List1[-4:-2])
print(List1[-3:-3])

[1, 'Manish', 3.14, True]
['Manish', 3.14]
[]

In [23]:
# Modifying a List: Possible
# Changing the Element of Index: 0
List1[0]=11
print(List1)

[11, 'Manish', 3.14, True, (3-4j)]

In [25]:
# Modifying a List: Possible
# Changing the Element of Index: 1
List1[1]="Hunter Devil"
print(List1)

[11, 'Hunter Devil', 3.14, True, (3-4j)]

In [28]:
# Modifying a List: Possible 
# Popping the Last Element
List1.pop()
List1

[11, 'Hunter Devil', 3.14]

In [29]:
# Modifying a List: Possible
# Appending a New Element in Last Position 
List1.append(3-4j)
List1

[11, 'Hunter Devil', 3.14, (3-4j)]

In [32]:
# Modifying a List: Possible
# Reversing Elements of a List in Opposite Order
List1.reverse()
List1

[(3-4j), 3.14, 'Hunter Devil', 11]

In [34]:
# Modifying a List: Possible 
# Sorting a List
List1=["Papaya", "Banana", "Apple", "Mango", "Guava", "Peach"]
List1.sort()
List1

['Apple', 'Banana', 'Guava', 'Mango', 'Papaya', 'Peach']

In [36]:
# Modifying a List: Possible 
# Inserting Elements at Specified Index
List1=[1, 2, 3, 4, 5, 6, 7, 8]
List1.insert(0, 0)
List1

[0, 1, 2, 3, 4, 5, 6, 7, 8]