In [4]:
# Sets in Python 
# Defining Set named s1 
s1={11, "Manish", 12.45, True, 12.34-111j}
s1

{(12.34-111j), 11, 12.45, 'Manish', True}

In [5]:
# Trying out Duplicates: Which is not really allowed!!!
set1={11, 12, 11, 14, "Numbers", "is", "fun", "really", "fun"}
set1

{11, 12, 14, 'Numbers', 'fun', 'is', 'really'}

In [9]:
# Set Operations 
# Update One Dictionary's Element with Another Dictionary
set2={1, False, "Manish", 4.13, 3-4j, "Shiwakoti", True}
set2

{(3-4j), 1, 4.13, False, 'Manish', 'Shiwakoti'}

In [10]:
# Set Operations 
# Removing an Element 
print(set2)
set2.remove("Shiwakoti")
print(set2)

{False, 1, 4.13, 'Manish', (3-4j), 'Shiwakoti'}
{False, 1, 4.13, 'Manish', (3-4j)}

In [11]:
# Set Operations 
# Updating Multiple Elements 
set3={1, "Mandy", 21, 41.23, 12-9j, True}
set3.update([10, 20, 30])
set3

{(12-9j), 1, 10, 20, 21, 30, 41.23, 'Mandy'}

In [12]:
# Set Functions
# Union of Two Sets
a={1, 2, 3}
b={"a", "b", "c"}
a.union(b)

{1, 2, 3, 'a', 'b', 'c'}

In [14]:
# Set Functions 
# Intersection of Two Sets
x={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
y={2, 4, 6, 8, 10}
x.intersection(y)

{2, 4, 6, 8, 10}